
{% load static %}
<!doctype html>

<html>

  <head>

  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

  <title> {% block title  %}TeknoPratic {%endblock%}</title>


  
  
  

  <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">

  <link rel="stylesheet " href="{% static 'CSS/style.css' %}">
  <link rel="stylesheet" href=" {% static 'CSS/w3.css' %}">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
  




  

 

  
    
  </head>

  <body id = 'myPage'>
  
  {% include "header.html" %}
  

 




    {% block body %}



















         
    {% endblock   %}





    {% include "footer.html" %}



   



    
    <script src="{% static 'js/jquery.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}"> </script>
  </body>
</html>
