{% extends 'base.html' %}
<html>
<head>

</head>

{% block body %}



<div class="w3-row">




<!-- Blog entries -->
<div class="w3-col l8 s12">
{% for infos in info %}
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-black w3-padding-32">
    <div class="w3-container w3-center ">
      <h3><b>|INFORMATION OF THE DAY|</b></h3>
      
    </div>
    
    <div class="w3-container">
      <h3><b>{{infos.infoname}}</b></h3>
      
    </div>

    <div class="w3-container">
      <p>{{infos.infotext|safe}}</p>
      
    </div>
  </div>
  <hr>
{% endfor %}
{% for post in posts  %}


  <!-- Blog entry -->
    <div class=" w3-card-4 col-md-11 w3-margin  w3-border w3-border-red w3-round-xxlarge ">
    <img class="w3-round-xxlarge w3-margin-top" src="{{post.imgfield.url}} "alt="{{post.title}}" style="width:100%;max-height:300px">
    <h3 class="w3-mobile">{{post.title|safe}}</h3> 
    <div class="w3-right w3-panel w3-card-2 w3-round-large w3-mobile w3-hide-small w3-blue w3-border w3-border-green " >
    <div class="w3-margin-top w3-center" ><p><b>{{post.user}}</b> </p></div>
    
    </div>
    <p><b>{{post.genre}}</b> </p>
    <p><small>{{post.publishing_date|timesince}} <b>since</b></small></p>
    <p>{{post.text|safe|linebreaks|truncatechars:150}}</p>
    <p><a href="{{post.get_absolute_url}}"> <button class="w3-button w3-round w3-blue w3-block">READ</button> </a></p>
  </div>
  
  
{% endfor %}
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  {%for sozofday in soz%}
  <div class="w3-card-4 w3-margin w3-margin-top w3-black">
 
    <div class="w3-container w3-center ">
      <h4><b>|WORD OF THE DAY|</b></h4>
    </div>
    <div class="w3-container">  
      <p>{{sozofday.quoteday}} ({{sozofday.quoteown}})</p>
    </div>
  </div>
  <hr>
  {%endfor%}
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>STUDENT</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
    {% for users in user  %}
  
      <li class="w3-padding-16">
        <img src="{{users.userimage.url}}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">{{users.username}}</span><br>
        <span>{{users.userrealname}}</span>
      </li>
     {% endfor %}
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

{% endblock body %}


</html>